VITE_ISONIA_APP_NAME=IsoniaOS
VITE_ISONIA_API_BASE_URL=http://localhost:3000
VITE_ISONIA_ACTIVE_CHAIN_ID=31337
VITE_ISONIA_CHAIN_ID=31337
VITE_ISONIA_CHAIN_NAME=Local EVM
VITE_ISONIA_RPC_URL=http://127.0.0.1:8545
VITE_ISONIA_BLOCK_EXPLORER_URL=
VITE_ISONIA_NATIVE_CURRENCY_NAME=Ether
VITE_ISONIA_NATIVE_CURRENCY_SYMBOL=ETH
VITE_ISONIA_CORE_ADDRESS=
VITE_ISONIA_PROPOSALS_ADDRESS=
VITE_ISONIA_REOWN_PROJECT_ID=
VITE_ISONIA_WALLET_APP_URL=http://localhost:5173
VITE_ISONIA_CONFIG_URL=
VITE_ISONIA_FEATURE_CREATE_PROPOSAL=false
VITE_ISONIA_FEATURE_EIP5792_BATCH=false
VITE_ISONIA_FEATURE_WRITE_ACTIONS=false
VITE_ISONIA_FEATURE_MANAGE_ORG=false
VITE_ISONIA_FEATURE_ADVANCED_ANALYTICS=false
VITE_ISONIA_FEATURE_CUSTOM_THEME=false
VITE_ISONIA_METADATA_ENABLED=true
VITE_ISONIA_METADATA_IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
VITE_ISONIA_METADATA_TIMEOUT_MS=1500
